*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.DS_Store
Thumbs.db

# Vosk Models
src/main/assets/vosk*
src/main/assets/model*

app/src/main/assets/vosk*
app/src/main/assets/model*



build/

local.properties

*.log

captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

*.jks
*.keystore

google-services.json

*.hprof
